.App-logo {
  height: 40vmin;
  margin-bottom: 2%;
}

.App-content {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

textarea {
  height: 25vh !important;
  width: 25vw !important;
  margin: auto !important;
}

.textIO {
  margin-top: 2%;
}

#outputArea {
  cursor: default;
}

button {
  margin: 5% auto !important;
}